
.titlespanage {
  font-size: 50spanx;
  color: rgb(172, 101, 9);
  text-align: center;
}

.imgTytle {
  width: 70spanx;
}

.imgspanage {
  width: 20%;
  disspanlay: block;
  margin-left: auto;
  margin-right: auto;
}

.tytleB {
  font-weight: bold;
}

body {
  background-color: rgb(158, 238, 238);
}
